html {
    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.custom-input-width {
    max-width: 300px; 
}

.free-ids-list {
    font-size: 0.9rem;
    color: #555;
}

.free-ids-list span {
    display: inline-block;
}

.btn-custom {
    font-size: 16px; 
    padding: 6px 12px; 
    margin: 1px; 
    border-radius: 4px; 
}

.small-combo-box {
    max-width: 200px; 
    padding: 4px; 
    font-size: 14px; 
}