@page
@model Half_Chess__Razor_Server_.Pages.Users.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>TblUsers</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="TblUsers.Id" />
            <div class="form-group">
                <label asp-for="TblUsers.FirstName" class="control-label"></label>
                <input asp-for="TblUsers.FirstName" class="form-control" />
                <span asp-validation-for="TblUsers.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUsers.LastName" class="control-label"></label>
                <input asp-for="TblUsers.LastName" class="form-control" />
                <span asp-validation-for="TblUsers.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUsers.Phone" class="control-label"></label>
                <input asp-for="TblUsers.Phone" class="form-control" />
                <span asp-validation-for="TblUsers.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TblUsers.Country"></label>
                <div class="d-flex align-items-center">
                    <select asp-for="TblUsers.Country" class="form-control custom-input-width" asp-items="Model.CountryOptions">
                        <option value="">Select a country</option>
                    </select>
                    <span class="ms-2">Current: @Model.TblUsers.Country</span>
                </div>
                <span asp-validation-for="TblUsers.Country" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <input type="submit" value="Save" class="btn btn-dark" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
